*{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}

body{
    background-color: tan;
}

#bookshelf{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    grid-template-rows: 1fr;
    gap: 3%
}

.bookCard-wrapper{
    background-image: url("images/book.svg");
    background-repeat: no-repeat;
    background-size: contain;
    padding-bottom: 122%;
    height: 0px;
}

.bookCard-wrapper>*{
    background-color: transparent;
    margin-top: 5%;
    margin-left: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.bookCard{
    margin-top: 10%;
}

.bookCard>*{
    margin-top: 10%;
}

.addBook{
    margin-top: 30%;
    text-align: center;
    margin-left: 20%;
}

.addBook>.add{
    width: 30%;
    margin: 0 auto;
    margin-top: 10%;
    filter: invert();
}

#title{
    grid-area: title;
}

#author{
    grid-area: auth;
}

#pages{
    grid-area: pages;
}

#completed-label{
    grid-area: label;
}

#completed{
    grid-area: completed;
}


.addBook-form{
    display: flex;
    flex-direction: column;
}

.addBook-form>*{
    font-size: 14px;
}

.addBook-form>input{
    background-color: transparent;
    width: 90%;

    border: 0px;
    border-bottom: 1px dashed;

    background-color: #ffffff;
    opacity: 80%;

    padding-top: 4%;
    margin-bottom: 2%;
    color: #000000;

}

.addBook-form>label{
    margin-top: 4%;
}


/* next two entries are to remove the up and down arrows from number inputs */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


#completed-wrapper{
    margin-top: 6%;
    margin-bottom: 5%;
}

#completed{
    float: right;
    margin-right: 10%;
}


#addBook>.add{
    width: 20%;
    position: relative;
    float: left;
    padding-left: 10%;
    filter: invert();
}
#addBook>.cancel{
    width: 20%;
    padding-right: 30%;
    float: right;
    filter: invert();
}
